* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: url('/images/background.jpeg'); 
    background-size: cover;
    background-position: center;
}

.top-bar {
    background-color: #252C34;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;

}

.top-bar img {
    width:  18px;
}

.separator {
    color: #ccc; 
    font-size: 0.9em;
    margin-right: 15px;
    margin-left: 15px;

}

.top-right{
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: white;
    padding: 20px 5%;
}


.search-bar {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 50px;

}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px; 
}

.nav-links li a {
    text-decoration: none;
    color: grey; 
}

.nav-links li a:hover {
    color: black; 
}

.get-started {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.get-started:hover {
    background-color: #218838; 
}

.navleft {
    display: flex;
    align-items: center;
    gap: 10px; 
}


.body-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 150px;
    padding-left: 5%; 

}

.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    top: 10px;
}

.login-box h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    
}


.login-box .forgot-password {
    display: block;
    margin-bottom: 15px;
    font-size: 0.9em;
    color: #0054ae;
    text-decoration: none;
    text-align: right;
}

.login-box .forgot-password:hover {
    text-decoration: underline;
}

.login-box .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #252C34;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.login-box .login-btn:hover {
    background-color: #495057;
}

.login-box .login-with {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px 15px; 
    border: 1px solid #ccc; 
    background-color: #fff; 
    color: #333;
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.login-box .login-with:hover {
    background-color: #ddd;
}

.otherlogin{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

label{
    font-size: 0.9em;
    text-align: left;
    color: grey;
}